.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
*.lock
.vscode/
dist
*.log
scripts/test-airdrop-admin.json
scripts/test-mint.json
scripts/test-mint-v2.json
scripts/dummy_airdrop.csv
scripts/fake-trees/*kp.json
